.App {
  text-align: center;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #A2E5FF;
}

nav {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color:#205265;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D9EAF0;
  text-decoration: none;
}

.photo{
  width: 64px;
  height: 64px;
  margin-right: 10%;
}
a {
  color: #69afc8;
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
}
.AddPost {
  width: 100%;
  height: calc(100vh - 40px);
  display: grid;
  place-items: center;
}

.container {
  width: 500px;
  height: auto;
  padding: 20px;
  background-color: #A2E5FF;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
}
.container h1 {
  text-align: center;
}

.container label {
  font-size: 30px;
  
}

.container .inputp {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
}

.inputp input,
.inputp textarea {
  font-size: 30px;
  border: none;
  border-radius: 2px;
  padding: 40px;
}
.inputtitle input {
  height: 40px;
  width: 300px;
  margin-bottom: 40px;
  margin-right: 250px;

}

.inputp input {
  height: 40px;
  width: 210px;
  margin-bottom: 40px;
  margin-left: 120px;

}

.inputp textarea {
  height: 150px;
}

.container button {
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

input,
textarea {
  margin-top: 5px;
}

.google-text p {
  font-size: 25px;
  text-align: center;
  margin-top: 20%;
}

.google-btn {
  
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  color: #757575;
  font-size: 25px;
  font-weight: 500;
  font-family: "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: rgb(120, 32, 32);
  background-repeat: no-repeat;

  margin-left: 45%;

}

.feed {
  width: 100%;
  min-height: calc(100vh - 80px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 4px;
  padding-top: 20px;
}
button{
  background-color: aqua;
}
.feed .post {
  width: 800px;
  height: auto;
  max-height: 400px;
  background-color: #86c9e4;
  margin: 20px;
  padding: 20px;
}


.post .Headerp {
  display: flex;
  justify-content: left;
  width: 100%;
}
.post .containerfeed {
  height: auto;
  max-height: 400px;
  width: 100%;
}